// Mixins Here


.aligned() {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered() {
    display: flex;
    justify-content: center;
}

//parametric mixin for button
.button(@btn-bg-color, @porcelain) {
    background-color: @btn-bg-color;
    color: @porcelain;
    width: 20%; 
}